.footer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #2f2f2f;
    color: white;
    text-align: center;
    padding: 2% 5%;
    position: fixed;
    width: 80%;
    bottom: 0;
    font-size: 100%;
}


@media (max-width: 768px) {
    .footer {
        height: 5%; 
        width: 100%;
        padding: 3% 5%; 
        font-size: 90%; 
    }
}

@media (max-width: 480px) {
    .footer {
        height: 3%; 
        width: 100%;
        flex-direction: column;
                  
        padding: 0 0; 
    }
    p
    {
        margin: 0;
        font-size: small;
    }
}
